{% include '_head.twig' %}

{% include '_menu.twig' %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ thumbnail(record.image, 1000, 700) }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ record.title }}</h1>
                        <h2 class="subheading">{{ record.teaser }}</h2>
                        <span class="meta">{% include '_recordfooter.twig' with {record: record} %}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ record.body }}
                </div>
            </div>
        </div>
    </article>

    <hr>

{% include '_footer.twig' %}
